@font-face {
  font-family: comfortaa-bold;
  src: url(/styles/fonts/Comfortaa-Bold.ttf);
}
@font-face {
  font-family: comfortaa-light;
  src: url(/styles/fonts/Comfortaa-Light.ttf);
}
@font-face {
  font-family: comfortaa-med;
  src: url(/styles/fonts/Comfortaa-Medium.ttf);
}
@font-face {
  font-family: comfortaa-regular;
  src: url(/styles/fonts/Comfortaa-Regular.ttf);
}
@font-face {
  font-family: comfortaa-semi;
  src: url(/styles/fonts/Comfortaa-SemiBold.ttf);
}

body {
  font-family: comfortaa-regular, Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.navbar {
  background-color: #bc7a7a;
}

.div-title {
  background-color: #bc7a7a;
  color: #ffffff;
  height: 100px;
}

.btn.btn-primary {
  background-color: #bc7a7a;
  border-color: #bc7a7a;
}

.btn.btn-primary:active {
  background-color: #ffffff;
  border-color: #bc7a7a;
  color: #bc7a7a;
}

.btn.btn-primary a {
  color: #ffffff;
  text-decoration: none;
}

.btn.btn-primary:active a {
  color: #bc7a7a;
  text-decoration: none;
}

.div-title h1 {
  margin: 0;
}

h1 a {
  color: #ffffff;
}

.div-footer {
  background-color: #bc7a7a;
  color: #ffffff;
}

.div-footer a {
  color: rgb(214, 209, 245);
}

footer img {
  width: 250px;
}

@media (min-width: 992px) {

  .btn.btn-primary:hover a {
    color: #bc7a7a;
    text-decoration: none;
  }

  .btn.btn-primary:hover {
    background-color: #ffffff;
    border-color: #bc7a7a;
    color: #bc7a7a;
  }
}